

<div class="container mt-4 d-flex justify-content-center">
    <div class="btn-group">
    <a href="/registroVentas" class="btn btn-primary active" aria-current="page">Historial de Ventas</a>
    <a href="/inventario" class="btn btn-success">Ajuste de Inventario</a>
    <a href="/precios" class="btn btn-warning">Ajuste de Precios</a>
    </div>
</div>