
<div class="inicio">
    <div class="">
        
        <div class="row">
            <div class="col-12">
                <img src="/img/logo.PNG" class="img-thumbnail center" alt="">
            </div>
        </div>

        <div class="row">
            <div class="d-grid col-4 mx-auto mt-5">
                <a class="btn btn-primary btn-lg" href="/nuevaVenta" role="button">Nueva venta</a>
            </div>
        </div>

        <div class="row">
            <div class="d-grid config-image">
                <a href="/auth/login" target="_self"> <img src="/img/configLogo.png" alt="" width="45px"> </a>
            </div>
        </div>

    </div>
</div>
