
<div class="container mt-4 mapa">
    <h1 class="mb-4"> Mapa del sitio</h1>

    <ul>
    <li>Registrar Usuarios</li>
    <li>Iniciar Sesión</li>
    <li>Venta</li>
    <ul>
        <li>Realizar venta</li>
    </ul>
    <li>Panel</li>
    <ul>
        <li>Historial de Ventas</li>
        <li>Ajuste de Inventario</li>
        <li>Ajuste de Precio</li>
    </ul>
    <li>Logout</li>
    </ul>

    <br>
    <br>
    <br>
    <br>    
</div>