<h1 class="text-center my-5">Registro de usuarios nuevos</h1>

<div class="row justify-content-center" >
    <div class="col-md-6 mb-5">
        <form style=" max-width:600px; margin:auto;" action="/auth/register" method="post">
            <input type="text" class="form-control mb-4" name="userName" placeholder="ingrese nombre">
            <input type="text" class="form-control mb-4" name="email" placeholder="ingrese email">
            <input type="password" class="form-control mb-4" name="password" placeholder="ingrese password">
            <input type="password" class="form-control mb-4" name="repassword" placeholder="repita password">
            <button class="btn btn-primary" type="submit">Registrar usuario</button>
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            <br>
            <br>
            <br>
            <br>
        </form>
    </div>
</div>


