

body{
    background-color: #ffc0b7;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 80%;
}

.div-boton{
  text-align: center;
  margin-top: 20px;
  width: 100%;
  height: 60px;
}

.config-image{
  margin-top: 100px;
}